# qBittorrent Configuration
QBITTORRENT_HOST=localhost
QBITTORRENT_PORT=
QBITTORRENT_USERNAME=admin
QBITTORRENT_PASSWORD=123456

TELEGRAM_BOT_TOKEN=
ADMIN_CHAT_ID=

# Application Settings
LOG_LEVEL=INFO
DEBUG=False